.container{
    padding: 2%;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: solid 2px orange;
    background-color: gray;
    margin: 0 auto;
    flex-direction: row;
}

.footer{
    width: 54%;
    height: 10px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: orange;
}