.title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.button-close{
    display: flex;
    justify-content: right;
}

.button{
    background-color: gray;
    border: solid 2px orange;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: orange;
}