.bio-profile{
    font-size: 70%;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.about-profile{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 60px;
}