.search-container{
    padding: 2%;
    padding-top: 1%;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    border: solid 2px orange;
    background-color: gray;
    margin: 0 auto;
    margin-bottom: 10px;
}

.search-container .title{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    font-weight: 900;
}

.input{
    width: 50%;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    border: solid 1px black;
    outline: orange;
}

.button-search{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    width: 15%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: none;
}

.button-search:hover{
    background-color: orange;
}