.follow{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    padding: 10px;
}

.follow:hover{
    cursor: pointer;
    border: solid 2px orange;
    border-radius: 10px;
}

.follow-link{
    text-decoration: none;
    color: white;
}

.repos{
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    
}

.repos:hover{
    border: 2px solid orange;
    border-radius: 10px;
}

.repos-div-link{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}

.repos-link{
    text-decoration: none;
    color: rgb(131, 106, 68);
}

.repos-link:hover{
    color: rgb(211, 162, 72);
    border-radius: 10px;
}

.repos-description{
    width: 100%;
    border-radius: 10px;
}

.repos-description h3{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}