.about-container{
    width: 30%;
    height: 50px;
    margin-left: 1.5%;
    margin-top: 1.5%;
    cursor: pointer;
}

.about-container:hover{
    background-color: orange;
    border-radius: 10px;
    padding-bottom: 20px;
}

.amount{
    font-size: 90%;
    text-align: center;
    padding-top: 15px;
}

.text{
    font-size: 90%;
    text-align: center;
}